body, html {
    height: 100%; 
    margin: 0; 
    padding: 0; 
    background-image: url('colorful.webp'); 
    background-size: cover; 
    background-position: center;
}

.container {
    display: flex; 
    align-items: flex-start; 
    height: 100%; 
    flex-direction: column;
    border: 2px solid black; 
    border-radius: 10px;
    margin-top: 150px;
    margin-left: 35%;
    margin-right: 29%;
    padding-left: 15px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 25px;

}


.form-group {
    width: 100%;
}

.container label {
    margin-left: auto; 
    width: 500px; 
}


.container-2 {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    border: 0px;
    margin-left: 35%;
    margin-right: 29%;
    text-align: center;
    margin-top: 20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 100%;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid black;
    margin-top: 100px;
    width: 90%;
}

.footer-p {
    margin-top: auto; 
}


.container input[type="email"],
.container input[type="password"] {
    width: 100%; 
    margin-top: 5px; 
    padding: 10px; 
    box-sizing: border-box; 
}


.container button {
    width: 100%; 
    margin-top: 10px; 
    padding: 10px; 
    box-sizing: border-box; 
}

.container-2 button {
    width: 100%; 
    margin-top: 10px; 
    padding: 10px; 
    box-sizing: border-box; 
}

.container .form-group label {
    order: 0; 
}


#input-labels {
    top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 2px;

}

#help::before {
    content: '\25b8';
    margin-right: 5px;
}